@media (max-width: 992px){


	#sidebar-section{
		width: 100%;
		height: auto;
		border: 0;
		padding: 20px 0;
	}
	#sidebar-section .logo{
		float: right;
		width: 6%;
		border: 1px solid red;
		margin: 10px;
	}

	#sidebar-section .fas{
		display: none;
	}
	#sidebar-section h6{
		float: right;
		padding: 20px 10px;
		font-size: 13px;
	}
	#sidebar-section nav{
		width: 50%;
	}
	#sidebar-section p{
		text-align: left;
	}
	#sidebar-section .nav-item{
		width: 150px;
		border-bottom: 1px solid #fff;
	}

/*==============sidebar-section end ==============*/

	#bgcolor-section{
		width: 100%;
		height: auto;
	}
	.about .contant{
		text-shadow: 0px 1px 4px rgba(255,255,255,0.7);
	}
	.about .contant h5{
		font-size: 12px;
		letter-spacing: 1px;
		margin: 0;
	}
	.about .contant p{
		font-size: 10px;
		margin-bottom: 5px;
	}

	.about button{
		width: 40%;
		font-size: 15px;
		padding: 10px;
		margin: 10px 0;
	}
	.about button:hover{
		background-color: #1eaf4b;
	}
	.about button i{
		font-size: 17px;
	}
	.about .socile li{
		padding: 5px 10px;
		margin-bottom: 10px;
	}
	.about .socile li a{
		font-size: 17px;
	}

/*==============about-section end ==============*/

#bgcolor-section .aboutme{
	padding: 50px 30px;
	color: #000;
}
.content p{
	font-size: 17px;
}

.content .details h4{
	font-size: 25px;
}


/*==============about-section end ==============*/

.content .card img{
	padding: 20px;
}
.content .card {
	text-align: center;
}

/*==============experiences & education-section end ==============*/









}


