@media (max-width: 574.98px) {
  *{
    margin: 0 auto;
    padding: 0;
}
  #top{
  background: linear-gradient(90deg, rgba(52,69,180,1) 35%, rgba(252,71,  
  123,0.9696078260405725) 86%, rgba(252,71,123,1) 100%); 
  }
  #top .left{
  width: 40%;
  padding: 10px 0;
  margin: 0;
  text-align: right;
  }
  #top .left h2{
  font-size: 22px;
  font-weight: bold;  
  }
  #top .right{
  width: 40%;
  }
  #top .right h6{
  font-size: 15px;
  font-weight: 600;
  }
  #top .btn{
  width: 15%;
  margin: 5px;    
  }
  .dropdown-content {
  display: none;
  top: 23px;
  right: 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  }
  .dropdown-content a {
  font-size: 12px;
  }
/*========== TOP SECTION END ==========*/

  #full .dropdown-content {
  position: absolute;
  left: 0;
  width: 50%;
  }
  #full .dropdown-content a{
  padding: 12px;
  }

  #sidebar {
  min-width: 100%;
  max-width: 100%;
  }
  #sidebar h1 {
  font-size: 22px;
  padding: 0;
  }
  #sidebar ul li {
  font-size: 12px;
  }
    @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -100%; }
      #sidebar.active {
        margin-left: 0; } }

    #sidebar .custom-menu {
    top: 5px;
    left: 5px;
    }
    
  #sidebar .custom-menu .btn {
  width: 38px;
  height: 38px;
  position: relative;
  }
  #sidebar .custom-menu .btn i {
  margin-left: -3px;
  font-size: 20px;
  }
  #sidebar .custom-menu .btn.btn-primary:after {
  position: absolute;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background: transparent;
  transition: all 0.3s ease-in-out;
  }
  #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
    background: rgba(252,71,143,9) !important;
  }

  #message{
  margin-top: 40px;
}
  #request{
  margin : 20px 0 10px 0;
  }
  #request .btn{
  margin: 6px;
  padding: 10px;
  }
  #user .btn{
  margin: 5px;
  padding: 8px;
  }









}

