@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
/*===============DEFULT CSS start===============*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #999999;
}
a:hover,
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	width: 100%;
	display: block;
}
#bgcolor-section .content{
	padding: 50px 30px;
	color: #000;
}

.heading h3{
	font-size: 35px;
	color: #000;
}
.heading span{
	width: 80px;
	height: 4px;
	margin-bottom: 10px;
	background-color: #820036;
	display: block;
}
/*===============DEFULT CSS end===============*/

#sidebar-section{
	width: 20%;
	float: left;
	position: relative;
	padding: 15px 0;
	height: 100vh;
	border-right: 5px solid #820036;
	background-color: #079992;
}
#sidebar-section .logo{
	width: 40%;
	margin: 0 auto;
	border: 2px solid #820036;
	border-radius: 50%;
}
#sidebar-section .fas{
	position: absolute;
	top: 15%;
	left: 60%;
	color: #222;
	font-size: 30px;
}
#sidebar-section h6{
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 10px 0;
	letter-spacing: 1px;
}
#sidebar-section a{
	color: #fff;
}
#sidebar-section button{
	background-color: red;
}
#sidebar-section .nav-item{
	width: 230px;
	border-bottom: 1px solid #fff;
}
#sidebar-section .nav-item a{
	padding: 12px 0;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	transition: all 0.5s;
}
.nav-item a:hover{
	transform: matrix(1, 0, 0, 1, 6, 0);
	background-color: #006266;
	display: block;
}
nav p{
	color: #fff;
	margin: 0;
	font-size: 15px;
	/*text-align: center;*/
	padding-top: 10px ;
}

.socile li{
	padding: 5px 10px;
	text-align: center;
	margin-right: 5px;
	background-color: #c8a570ad;
	border-radius: 50%;
 	transition: all 0.5s;
}
.socile li a{
	font-size: 18px;
 	color: #fff;
}
.socile li:hover{
	color: #fff;
	background-color: #820036;
}
/*===============sidebar-section end===============*/

/*===============bgcolor-section start===============*/
#bgcolor-section{
	width: 80%;
	height: 100vh;
	float: right;
	overflow: auto;
	background-color: #c8a570ad;
}
.about .top-img {
	height: auto;
	width: 60%;
	position: relative;
	text-align: center;
	margin: 40px auto 0;
	/*border: 2px solid #000;*/
	overflow: hidden;
}
.about img{
	transition: all 0.5s;

}
.about img:hover{
	transform: scale(1.05);
	box-shadow: 0 2px 6px 2px #000;

}
.about .overflow{
	position: absolute;
	top: 80%;
	left: 0;
	width: 100%;
	height: 20%;
	background-color: #035b57c9;
}
.about .contant{
	color: #fff;
	text-shadow: 0px 2px 4px rgba(255,255,255,0.7);
	width: 100%;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.about .contant h5{
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
}
.about .contant p{
	font-size: 17px;
}
.about .footer{
	text-align: center;
}
.about button{
	border: 0;
	color: #fff;
	font-size: 18px;
	width: 50%;
	padding: 15px;
	margin-top: 20px;
	border-radius: 7px;
	background-color: #079992;
	transition: all 0.5s;
}
.about button:hover{
	background-color: #146765;
}
.about button i{
	font-size: 22px;
	padding-right: 10px;
}
/*==============bgcolor-section end ==============*/

/*==============about me start ==============*/
.content p{
	font-weight: normal;
	padding-left: 10px;
	display: inline-block;
	font-size: 20px;
}
.details span{
	margin-bottom: 15px;
	display: block;
	border-bottom: dotted;
	border-color: #999;
}
.details h5{
	display: inline-block;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	background-color: #999;
}
.details h4{
	padding: 10px 0;
	font-weight: bold;
	font-size: 30px;
	border-bottom: 3px solid #820036;
	display: inline-block;
}

/*==============profile start ==============*/
.profile h2{
	padding: 20px 0;
	font-size: 27px;
}

.content .language{
	padding-top: 50px;
}

/*==============education & expriens-section start ==============*/
.scene {
  width: 90%;
  height: auto;
  border: 1px solid #CCC;
  margin: 40px;
}
.panel {
  width: 100%;
  height: auto;
  transform: perspective(1000px) rotateY(-5deg);
}
.WD{
	width: 100%;
  height: auto;
  transform: perspective(1000px) rotateY(5deg);
}
.content .card img{
	padding: 20px;
	height: 222px;
}
.content .card {
	padding: 10px;
	transition: all 0.5s;
}
.content .card:hover{
	/*transform: scale(1.01);*/
	/*transform: rotateY(180deg);*/
  transform: perspective(800px) rotateY(0deg);
	box-shadow: 0px 2px 4px rgba(22,22,22,0.7);
}
.content .card-body{
	background-color: #079992;
}
.content .card-body h3{
	color: #fbd603;
	font-weight: bold;
}
.content .card-body h6{
	font-size: 20px;
	color: #820036;
}
.content .card-body p{
	font-size: 17px;
	padding: 0;
	color: #fff;
}

/*===========client section start===========*/
.client .item img{
	border-radius: 50%;
}
.owl-carousel span, .owl-nav{
	display: none;
}
.owl-dots{
	text-align: center;
}
.owl-dots .owl-dot{
	width: 10px;
	height: 10px;
	background-color: #454444 !important;
	margin: 0 5px;
}
.owl-dots .owl-dot.active{
	background-color: #820036 !important;
}
.owl-dots .owl-dot:first-child{
	margin-left: 0 !important;
}
.owl-dots .owl-dot:last-child{
	margin-right: 0 !important;
}

/*==============gallery-section start ==============*/
.gallery .light-box{
	position: relative;
}
.gallery .light-box img{
	height: 500px;
	/*width: 200px;*/
}
.light-box i{
	position: absolute;
	top: 60%;
	left: 0;
	color: #fff;
	width: 100%;
	display: block;
	text-align: center;
	transform: translateY(-60%);
	font-weight: 600;
	font-size: 20px;
	z-index: 1;
	transition: all 0.5s;
	opacity: 0;
}
.light-box:hover i{
	opacity: 1;
	top: 50%;
	transform: translateY(-50%);
}
.light-box::after{
	content: "";
	background-color: #12191ac2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	transform: scale(0.5);
	transition: all 0.5s;
	opacity: 0;
}
.light-box:hover::after{
	transform: scale(1);
	opacity: 1;
}

/*===========contact-section start===========*/
.contact .adrs i{
	float: left;
	font-size: 30px;
	color: #820036;
	padding-right: 25px;
	padding-top: 5px;
}
.contact h6{
	color: #079992;
	font-weight: bold;
	font-size: 20px;
}
.contact p{
	padding: 0;
}
